.DS_Store
Thumbs.db
desktop.ini

*.log
*.tmp
*.temp
*.swp
*~

/build/
/dist/
/out/
/target/

/node_modules/
/vendor/
/bower_components/
/.venv/
/venv/
/env/
/__pycache__/
*.py[cod]

.env
.env.local
.env.*.local
*.config.local.js

/.idea/
/.vscode/
*.sublime-*
*.iml

/data/

HW_1/lenta-ru-news.csv.gz
HW_2/ruwikiruscorpora_upos_skipgram_300_2_2018.vec.gz
HW_2/navec_news_v1_1B_250K_300d_100q.tar